@{
    Layout = "_AppLayout";
}
@using Microsoft.AspNetCore.Mvc.Rendering
<div class="center_side">
    <div class="titlename">Edit Meal </div>
    <div class="ui two column centered grid ">
        <div class="column ">
        </div>
    </div>
</div>