html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 100%;
    font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    line-height: 1rem;
    color: #61B300;
    overflow-y: hidden;
    overflow-x: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ui.left.sidebar {
    background-color: #C5FF80;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-basis: 220px;
    -moz-flex-basis: 220px;
    -ms-flex-preferred-size: 220px;
    flex-basis: 220px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    min-width: 1px;
    max-width: 300px;
    z-index: 201;
    overflow-x: hidden;
    overflow-y: hidden;
    color: #61B300 !important;
}

.itemgreancolor {
    color: #61B300 !important;
}

#name_logo {
    font-size: 1.725rem;
    line-height: 1.375rem;
    max-width: 9.12rem;
    padding-bottom: 150px;
    margin-left: 1.3rem;
    margin-top: 0.1rem !important;
    line-height: 1.075rem;
    color: #61B300 !important;
    height: 20%;
    position: relative;
    text-align: right;
}

}#logo {
    left: 30%;
    height: 30px;
    margin-bottom: 110px;
}

#panel_menu {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 900;
    color: #61B300 !important;
    text-align: center;
    position: relative;
    display: inline-block;
    cursor: pointer;

}

.pushable > .pusher {
  height: 100%;
  width: calc(100% - 260px);
}

.ui.vertical.inverted.sidebar.menu.visible.left {
    color: #61B300 !important;
}

.menu{
    height: 100%;
    text-align: left;
}

.menubutton{
    min-width: 220px;
    text-align: left;
}

.contentside{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 900;
    color: #61B300 !important;
    text-align: center;

}

.titlename{
    font-size: 55px;
    text-align: center;
    height: 210px;
    padding-top: 150px;
    color: #3A3E42;
    font-weight: bold;
}
.center_side{
    background-color: #E2FFBF;
    height: 100%;
}
.solid{
    border: solid;
}
.center-block{
    text-align: center;
}

 form {
    display: block;
    text-align: center;
}