html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
    font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    line-height: 1rem;
    color: #61B300;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #E2FFBF;
}

.container {
    height: 100%;
}

.ui.left.sidebar {
    background-color: #C5FF80;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    flex-basis: 220px;
    flex-shrink: 0;
    min-width: 1px;
    max-width: 300px;
    z-index: 201;
    overflow-x: hidden;
    overflow-y: hidden;
    color: #61B300;
}

.itemgreancolor {
    color: #61B300;
}

#name_logo {
    font-size: 1.725rem;
    max-width: 9.12rem;
    padding-bottom: 150px;
    margin-left: 1.3rem;
    margin-top: 0.1rem;
    line-height: 1.075rem;
    color: #61B300;
    height: 20%;
    position: relative;
    text-align: right;
}

#logo {
    left: 30%;
    height: 30px;
    margin-bottom: 110px;
}

#panel_menu {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 900;
    color: #61B300;
    text-align: center;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.pushable > .pusher {
    height: 100%;
    width: calc(100% - 260px);
    overflow-y: auto;
}

.pushable, .pusher, .ui.main.container {
    background-color: #E2FFBF;
}

.ui.vertical.inverted.sidebar.menu.visible.left {
    color: #61B300;
}

.menu {
    height: 100%;
    text-align: left;
}

.menubutton {
    min-width: 220px;
    text-align: left;
}

.contentside {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 900;
    color: #61B300;
    text-align: center;
}

.titlename {
    font-size: 55px;
    text-align: center;
    min-height: 210px;
    padding-top: 100px;
    color: #3A3E42;
    font-weight: bold;
    background-color: #E2FFBF;
}

.center_side {
    background-color: #E2FFBF;
    min-height: 100%;
}

.solid {
    border: solid;
}

.center-block {
    text-align: center;
}

form {
    display: block;
    text-align: center;
}

.maxheight {
    min-height: 100%;
}

.Homeside {
    min-height: 100%;
    background-image: url("../images/BackgroundSide.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #E2FFBF;
}

#ActiveOrderVievs, #MealsInOrderViews, #HistoryOrderVievs, #CompleteOrderViews, #SummaryOrderinHistoryViews {
    background-color: #E2FFBF;
    min-height: 100%;
}

#OrderList, #MealsList {
    margin-left: 5rem;
    margin-right: 5rem;
}

#OrderMealList {
    margin-left: 15rem;
    margin-right: 15rem;
}

#ActiveOrderTable, #MealsInOrderTable, #HistoryOrderTable, #MealsInCompleteTable, #MealsInSubmitedOrderTable {
    overflow-y: scroll;
}

.AddNewOrdersMeals {
    height: 100px;
    float: right;
    text-align: right;
}

.ui.sidebar.vertical.inverted.right {
    width: 20rem;
    background-color: #C5FF80;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
}

#submitButtons {
    padding-left: 13%;
}

.statisticView {
    height: 100%;
    background-color: #E2FFBF;
}

.coldownOrder {
    background-color: #E2FFBF;
    text-align: center;
    width: 100%;
    padding-left: 50px;
    margin-right: auto;
}

.text {
    font-weight: 700;
    text-align: left;
    color: #e30613;
    margin-bottom: 15px;
}

.itemCountDown {
    padding-top: 0.85rem;
    width: 70px;
    height: 40px;
    background-color: #e5e8ea;
    float: left;
    border-radius: 5px;
    font-size: 24px;
    color: #61B300;
}

.separator {
    padding-top: 0.85rem;
    float: left;
    width: 20px;
    height: 40px;
    font-size: 20px;
    color: black
}
.highseparator {
    height: 60px;
}