@{
Layout = "_WebLayout";
}
@{
    ViewData["Title"] = "About";
}
<div class="container">
    Tutaj bedzie napisane o mojej stronie. Na przykład to że ona istnieje nie tylko w wyobraźni.
    A pozatym to sprzedam opla czerwonego, a czerwony to szybki jednen z szybszych na swiecie nie ma drugiego takiego ładnego.
    

</div>