@{
    Layout = "_AppLayout";
}
@model ITMeat.WEB.Models.Order.AddNewOrderViewModel

<div class="center_side">
    <div class="titlename">Create new order </div>
    <div class="ui two column centered grid ">
        <div class="column ">
            @using (Html.BeginForm(FormMethod.Post, false, new { id = "createOrderForm", @class = "ui form center aligned" }))
            {
                <div class="field " style="left: 40%;">
                    <div class="your-clock"></div>
                </div>
                <div class="field ">
                    @Html.DropDownListFor(x => x.CreateModel.PubName, new List<SelectListItem>(Model.Pubs))
                </div>
                <div class="field ">
                    <div class="ui calendar">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            @Html.TextBoxFor(m => m.CreateModel.EndOrders, new { id = "PubSelected", type = "text", placeholder = "Date/Time" })
                        </div>
                    </div>
                </div> 
                <div class="field centered aligned "> </div>
                <div class="ui buttons">
                    <button id="CancelInCreateButton" class="ui button">Cancel</button>
                    <div class="or"></div>
                    <button id="CreateButton" class="ui positive button" type="submit">Create</button>
                </div>
            }       
        </div>
    </div>
</div>