@{
    Layout = "_AppLayout";
}
<div style="height: 100%;">
	<div class="titlename solid">Create new order </div>
	<div class="contentside solid"> form tu bedzie </div>
	<div class="solid">
		<div class="ui buttons">
			<button class="ui button">Cancel</button>
			<div class="or"></div>
			<button class="ui positive button">Create</button>
		</div>
	</div>
</div>	
