<div class="ui mini modal">
    <i class="close icon"></i>
    <div class="header">
       Remove Order Meal
    </div>
    <div class= "content">

        <div class="description">
            Are you sure you want to delete the order?
        </div>
    </div>
    <div class="actions">
        <div class="ui red cancel inverted button">Cancel</div>
        <div class="ui green ok inverted button">OK</div>
    </div>
</div>