@{
    Layout = "_AppLayout";

}
<div class="titlename ">Active Orders</div>
<div id="ActiveOrderVievs">
        <div id="OrderList">
            <table class="ui single line table">
                <thead>
                <tr>
                    <th>Pub Name</th>
                    <th>Start Order</th>
                    <th>End Order</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody id="ActiveOrderTable" >
                </tbody>
            </table>
    </div>
</div>