@{
    Layout = "_AppLayout";
}
<div class="center_side">
    <div class="titlename">Edit Pub</div>
    <h4 class="ui dividing header" style="text-align: center;">Pub Information</h4>
    <div class="ui two column centered grid">
        <div class="column">           
            <div class="ui inverted segment">
                <div class="ui inverted form">
                        <div class="field">
                            <input type="text" name="Name" placeholder="Name">
                        </div>
                        <div class="field">
                            <input type="text" name="FreeDelivery" placeholder="Free Delivery">
                        </div>
                        <div class="field">
                            <input type="text" name="Phone" placeholder="Phone number" pattern="^\d{3}-\d{3}-\d{3}$">
                        </div>
                        <div class="field">
                            <input type="text" name="Adress" placeholder="Address">
                        </div>
                    <div class="ui green button">Submit</div>
                    <div class="ui blue button">Edit Pub Oferts</div>
                </div>
            </div>
        </div>
</div>
</div>