@{
    Layout = "_AppLayout";

}
<div class="titlename ">Orders History</div>
<div id="HistoryOrderVievs">
    <div id="OrderList">
        <table class="ui single line table">
            <thead>
                <tr>
                    <th>Pub Name</th>
                    <th>Start Order</th>
                    <th>End Order</th>
                    <th>Expense</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="HistoryOrderTable"></tbody>
        </table>
    </div>
</div>