@{
    Layout = "_AppLayout";
}
<div class="center_side">
    <div class="titlename">Pub Oferts</div>
    <div id="MealInPubOferts">
        <div id="OfertsMealList">
            <table class="ui single line table" id="OfertsMealTableRow">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Expense</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="OfertsMealTable"></tbody>
            </table>
        </div>
    </div>
</div>