@{
    Layout = "_AppLayout";

}
<div class="titlename">Order is complete!</div>
<div id="CompleteOrderViews">
    <div id="OrderMealList">
        <table class="ui single line table">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Meals Name</th>
                    <th>Quantity</th>
                    <th>Expense</th>
                </tr>
            </thead>
            <tbody id="MealsInCompleteTable" data-OrderId="@ViewBag.OrderId"></tbody>
        </table>
    </div>
</div>