@{
    Layout = "_WebLayout";
}
@model ITMeat.WEB.Models.Auth.LoginViewModel

<div class="ui three column centered grid ">
    <div class="column">
        <br />
        <h2 class="ui green header">Login to ITMeat Account</h2>
        <br />
        @using (Html.BeginForm("Login", "Auth", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
        {
            <div class="ui large form">
                <div class="field">
                    <div class="ui left icon input">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", type = "email", required = "required" })
                        <i class="user icon"></i>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", required = "required" })
                        <i class="privacy icon"></i>
                    </div>
                </div>
                <div class="field">
                    <button class="ui button" type="submit" id="btnLogin"> <i class="sign in icon"></i>Login</button>
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        <br />
    </div>
</div>